.roxo{
    background-color: blueviolet;
    border: 40px;
}

.todo{
    background-color:white;
    display: block;
    
}

.rodape{
    background-color: blueviolet;
    margin-left: 15px;
}

